{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Cart Section -->
<section class="container">
    <div class="row mt-4 mb-3 align-items-center">
        <div class="col-12 col-md-8">
            <h2>Shopping Bag</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <!-- Shopping Cart Items -->
                <div class="cart-container">
                    {% for item in bag_items %}
                    <div class="row border-top cart-item mb-4 py-3">
                        <!-- Product Image -->
                         <div class="col-4 col-md-2">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid rounded">
                         </div>

                        <!-- Product Info -->
                         <div class="col-8 col-md-4">
                            <p class="fe-bold mb-1">{{ item.product.name }}</p>
                            <p class="text-muted small mb-1">SKU: {{ item.product.sku|upper }}</p>
                            <p class="fw-bold">${{ item.product.price }}</p>
                            {% if item.size %}
                                <p class="small rounded">Size: {{item.size}}</p>
                            {% endif %}
                         </div>

                        <!-- Quantity Input and Remove Button -->
                        <div class="col-6 col-md-3 d-flex align-items-center mt-2 mt-md-0">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="input-group input-group-{{ item.item_id }}">
                                    <!-- Decrement Button -->
                                    <button class="decrement-qty btn blue-btn btn-sm rounded-0 decrement-qty_{{ item.item_id }}"
                                        data-item_id="{{ item.item_id }}"
                                        {% if item.size %}data-size="{{ item.size }}"{% endif %}>
                                        <div>
                                            <i class="fa-solid fa-minus fa-sm"></i>
                                        </div>
                                    </button>
    
                                    <!-- Quantity Input -->
                                    <input class="form-control form-control-sm qty_input" type="number"
                                        name="quantity"
                                        value="{{ item.quantity }}"
                                        min="1"
                                        max="99"
                                        data-item_id="{{ item.item_id }}"
                                        id="id_qty_{{ item.item_id }}"
                                        {% if item.size %}data-size="{{ item.size }}"{% endif %}>
    
                                    <!-- Increment Button -->
                                    <button class="increment-qty btn blue-btn btn-sm rounded-0 increment-qty_{{ item.item_id }}"
                                        data-item_id="{{ item.item_id }}"
                                        {% if item.size %}data-size="{{ item.size }}"{% endif %}>
                                        <div>
                                            <i class="fa-solid fa-plus fa-sm"></i>
                                        </div>
                                    </button>

                                    {% if item.product.has_sizes %}
                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                    {% endif %}
                                </div>
                            </form>

                        </div>

                        <!-- Remove Button -->
                        <div class="col-6 col-md-3 d-flex gap-2 justify-content-end align-items-center mt-2 mt-md-0">
                            <a class="btn btn-sm yellow-btn" title="Edit item">
                                <i class="fa-solid fa-pen-to-square fa-sm"></i>
                            </a>

                            <a class="btn btn-sm rose-btn" title="Remove item">
                                <i class="fa-solid fa-trash fa-sm"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Cart Total -->
                <div class="text-end mt-5 border-top pt-4">
                    <h6><strong>Bag Total: ${{total|floatformat:2}}</strong></h6>
                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                
                    {% if free_delivery_delta > 0 %}
                    <p class="text-danger">
                        Spend <strong>${{ free_delivery_delta }}</strong> more to get free delivery!
                    </p>
                    {% endif %}
                </div>

                <!-- Buttons -->
                 <div class="text-end py-2">
                    <a href="{% url 'collection' %}" class="btn rose-btn rounded-full mt-2 py-2 px-4">
                        <span class="icon">
                            <i class="fa-solid fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                    <a href="{% url 'collection' %}" class="btn blue-btn rounded-full mt-2 py-2 px-4">
                        <span class="icon">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <span>Secure Checkout</span>
                    </a>
                 </div>

            {% else %}
                <!-- Empty Bag -->
                <p class="small pt-1">Your bag is currently empty. Please visit our collection page to browse and discover products you'll love!</p>
                <a href="{% url 'collection' %}" class="btn blue-btn rounded-full mt-2 py-2 px-4">
                    <span class="icon">
                        <i class="fa-solid fa-chevron-left"></i>
                    </span>
                    <span>Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'collection/includes/quantity_input_script.html' %}



{% endblock %}