{% extends "base.html" %}
{% load static %}

<!-- Home Page css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="container hero-section">
    <div class="row g-0">
        <!-- Left Hero -->
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center py-md-5 pt-4 pb-1">
            <div class="text-content">
                <p class="fw-light small-text">The new collection are here</p>
                <h2 class="hero-title my-3">Shop Japan, Anywhere</h2>
                <p class="fw-light small-text">Shop high-quality Japanese products and enjoy a piece of Japan, no matter where you are.</p>
                <a href="{% url 'collection' %}" class="btn py-2 px-4 blue-btn">Shop Now</a>
            </div>
        </div>

        <!-- Right Hero -->
        <div class="col-12 col-md-6 hero-img">
            <img src="{% static 'images/bg-image/hero.png' %}" class="img-fluid w-100 h-100 object-fit-cover" alt="Hero Image">
        </div>
    </div>

    <!-- Category Section -->
    {% include 'home/includes/category.html' %}
</section>
{% endblock %}