{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Profile Section -->
<section class="container">
    <div class="row mt-4 mb-3 align-items-center">
        <div class="col-12 col-md-8">
            <h2 class="fw-semibold">Welcome, {{ user.username|capfirst }}! </h2>
        </div>
    </div>
    <div class="row border-top pt-4">

    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}