{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Checkout Success Section -->
<section class="container">
    <!-- Header Section -->
    <div class="row mt-4 mb-3 align-items-center">
        <div class="col-12 col-lg-8 mx-auto">
            <h2>Thank You</h2>
            <p class="text-muted">
                Your order information is below. A confirmation email will be sent to
                <strong class="fw-bold">{{ order.email }}</strong>
            </p>
        </div>
        
    </div>

    <!-- Main Content -->
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="order-confirmation-wrapper rounded-3 shadow-sm border p-3">
                <!-- Order Info -->
                <div class="mt-2 mb-4">
                    <h6 class=" mb-2 pb-2 border-bottom">Order Info:</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Order Number</p>
                        </div>
                        <div class="col-md-6">
                            <p class="fw-semibold order-number">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Order Date</p>
                        </div>
                        <div class="col-md-6">
                            <p class="fw-semibold">{{ order.date }}</p>
                        </div>
                    </div>
                </div>

                <!-- Order Items -->
                <div class="border-top py-4">
                    <h6 class="fw-medium mb-3 ">Items in your order:</h6>
                    {% for item in order.lineitems.all %}
                    <div class="row align-items-center {% if not forloop.last %}mb-3{% endif %}">
                        <div class="col-12">
                            <div class="d-flex align-items-center">
                                <div class="bg-light rounded" style="width: 60px; height: 60px;">
                                    {% if item.product.image %}
                                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="img-fluid" src="{% static 'images/no-image.png' %}" alt="No image available">
                                    {% endif %}
                                </div>
                                <div class="ms-3">
                                    <p class="mb-1">{{ item.product.name }}</p>
                                    <p class="small text-secondary-emphasis mb-0">
                                        Qty: {{ item.quantity }}
                                        {% if item.product.has_sizes %}
                                        | Size: {{ item.product.size|upper }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Delivery Info -->
                <div class="border-top py-4">
                    <h6 class="fw-medium mb-3">Delivery Address:</h6>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Full Name</p>
                            <p class="fw-semibold">{{ order.full_name }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Phone</p>
                            <p class="fw-semibold">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Address 1</p>
                            <p class="fw-semibold">{{ order.street_address1 }}</p>
                        </div>
                        {% if order.street_address2 %}
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Address 2</p>
                            <p class="fw-semibold">{{ order.street_address2 }}</p>
                        </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Town/City</p>
                            <p class="fw-semibold">{{ order.town_or_city }}</p>
                        </div>
                        {% if order.county %}
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">County</p>
                            <p class="fw-semibold">{{ order.county }}</p>
                        </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Country</p>
                            <p class="fw-semibold">{{ order.country }}</p>
                        </div>
                        {% if order.postcode %}
                        <div class="col-md-6">
                            <p class="mb-1 text-muted small">Postcode</p>
                            <p class="fw-semibold">{{ order.postcode }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Billing Summary -->
                <div class="border-top py-4">
                    <h6 class="fw-medium mb-3">Billing Summary:</h6>
                    <div class="p-3">
                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted fw-semi-bold">Order Total</span>
                            <span>£{{ order.order_total }}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted fw-semi-bold">Delivery</span>
                            <span>£{{ order.delivery_cost }}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted fw-semi-bold">Grand Total</span>
                            <span class="fs-3 fw-bold">£{{ order.grand_total }}</span>
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                {% if from_profile %}
                    <div class="text-end border-top pt-4">
                        <a  href="{% url 'profile' %}" 
                                class="btn rose-btn">
                            <i class="fa-solid fa-angles-left me-2"></i>
                            Back to Profile
                        </a>
                    </div>
                {% else %}
                    <div class="text-end border-top pt-4">
                        <a  href="{% url 'collection' %}?all_specials=true" 
                                class="btn rose-btn">
                                <i class="fa-solid fa-gifts me-2"></i>
                            Check Out Latest Deals
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}