@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
    background: #fffaf6;
    font-family: 'Merriweather', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Libre Baskerville", sans-serif;
}

/* Global Class */
.blue-btn {
    background-color: #355070;
    color: #FAFAFA;
}

.blue-btn:hover {
    background-color: #213247;
    color: #FAFAFA;
}

.rose-btn {
    background-color: #B25A61;
    color: #FAFAFA;
}

.rose-btn:hover {
    background-color: #69353a;
    color: #FAFAFA;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


/* NavBar */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0.5rem;
    font-weight: 500;
}

.navbar-link {
    list-style: none;
    gap: 1.25rem;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar-link li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.navbar-link li a:hover {
    color: #666;
    transition: color 0.2s ease;
}

.navbar-icon {
    display: flex;
    align-items: center;
}



/* Search Bar */

#searchBar {
    display: none;
    transition: all 0.2s east-in-out;
}

.search-bar-bg {
    background-color: #eec285;
}


/* Home page */



/* Collection page */
.hover-scale {
    transition: transform 0.3s east-in-out;
}

.hover-scale:hover {
    transform: scale(1.1);
}

.product-display {
    margin-bottom: 1.5rem;
}

.sort-select {
    width: auto !important;
    display: inline-block !important;
    min-width: 200px !important;
    cursor: pointer !important;
}

/* Product Page */
.img-thumbnail {
    cursor: pointer;
}

.overflow-auto {
    overflow-x: auto;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
    text-decoration: none;
}


@media (min-width: 768px) {
    .overflow-auto {
        overflow-y: auto;
        height: 300px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .navbar-container {
        max-width: 80%;
    }
}

