body {
    background: #fffaf6;
}

/* NavBar */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0.5rem;
    font-weight: 500;
}

.navbar-link {
    list-style: none;
    gap: 1.25rem;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar-link li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.navbar-link li a:hover {
    color: #666;
    transition: color 0.2s ease;
}

.navbar-icon {
    display: flex;
    align-items: center;
}

#searchBar {
    display: none;
    transition: all 0.2s east-in-out;
}


/* Home page */
.blue-btn {
    background-color: #355070;
    color: #FAFAFA;
}


@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .navbar-container {
        max-width: 80%;
    }
}

