{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

{% include 'collection/product_filter.html' %}

<!-- Product Section -->
<section class="container">
    <div class="row mt-4 mb-3 align-items-center">
        <!-- Title and Description -->
        <div class="col-12 col-md-8">
            <h2 class="m-0">{{ page_header }}</h2>
            <p class="small pt-3">{{ page_description }}</p>
        </div>
    </div>

    <!-- Sort Dropdown -->
    <div class="col-12 text-end pb-3">
        <select id="sort-selector" class="form-select form-select-sm sort-select" aria-label="Sort items">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                Sort by...
            </option>

            <!-- Price sorting options -->
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                Price (low to high)
            </option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                Price (high to low)
            </option>

            <!-- Rating sorting options -->
            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                Rating (low to high)
            </option>
            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                Rating (high to low)
            </option>

            <!-- Name sorting options -->
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                Name (A-Z)
            </option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                Name (Z-A)
            </option>

            <!-- Category sorting options -->
            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                Category (A-Z)
            </option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                Category (Z-A)
            </option>
        </select>
    </div>



    <div class="row product-display">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">
                <div class="overflow-hidden">
                    {% if product.image %}
                    <img class="img-fluid hover-scale transition" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                    {% else %}
                    <img class="img-fluid hover-scale transition" src="{{ MEDIA_URL }}no-image.png"
                        alt="{{ product.name }}">
                    {% endif %}
                    <p class="pt-3 pb-1 small">{{product.name}}</p>

                    <!-- Product Rating -->
                    {% if product.rating %}
                        <p class="text-muted small fw-medium">
                            {% for i in "12345"|make_list %}
                                {% if i|add:0 <= product.rating %}
                                    <i class="fa-solid fa-star"></i>
                                {% else %}
                                    <i class="fa-regular fa-star"></i>
                                {% endif %}
                            {% endfor %}
                            {{ product.rating }} /5
                        </p>
                    {% else %}
                        <p class="text-muted small fw-medium">
                            <i class="fa-solid fa-star"></i>
                            No Rating
                        </p>
                    {% endif %}

                    <p class="small fw-medium">£{{product.price}}</p>

                    <!-- Admin Product Management -->
                    {% if request.user.is_superuser %}
                        <small>
                            <a class="btn blue-btn" href="{% url 'edit_product' product.id %}">Edit</a>
                            <a class="btn rose-btn" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Arrow Up Button -->
<div class="btt-button shadow-sm rounded-0 border border-dark">
    <a href="#" class="btt-link d-flex h-100 align-items-center justify-content-center">
        <i class="fa-solid fa-arrow-up text-dark"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Credits to Boutique Ado JS -->
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

    <script>
        $('#sort-selector').change(function() {
            const selector = $(this);
            const currentUrl = new URL(window.location);

            const selectedVal = selector.val();
            if(selectedVal != "reset") {
                const [sort, direction] = selectedVal.split("_");

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            }
            else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}