{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Product Section -->
<div class="container mt-1 pt-5">
    <div class="row">
        <!-- Product Image -->
        <div class="col-12 col-md-6 gap-3">
            <div class="w-100">
                {% if product.image %}
                <img class="img-fluid" id="main-product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-fluid" id="main-product-image" src="{% static 'images/no-image.png' %}"
                    alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>

        <!-- Product Info -->
        <div class="col-12 col-md-6">
            <h3 class="font-weight-bold mt-2">{{ product.name }}</h3>
            <!-- product reviews -->
            {% if product.rating %}
                <p class="text-muted small fw-medium">
                    {% for i in "12345"|make_list %}
                        {% if i|add:0 <= product.rating %}
                            <i class="fa-solid fa-star"></i>
                        {% else %}
                            <i class="fa-regular fa-star"></i>
                        {% endif %}
                    {% endfor %}
                    {{ product.rating }} /5 ({{ total_reviews }})
                </p>
            {% else %}
                <p class="text-muted small fw-medium">
                    <i class="fa-solid fa-star"></i>
                    No Rating
                </p>
            {% endif %}
            <p class="mt-3 text-2xl font-weight-bold">£{{ product.price }}</p>
            <p class="mt-3 text-muted">{{ product.description }}</p>

            <!-- Admin Product Management -->
            {% if request.user.is_superuser %}
            <div class="my-3">
                <a class="btn yellow-btn" href="{% url 'edit_product' product.id %}">Edit</a>
                <a class="btn rose-btn" href="{% url 'delete_product' product.id %}">Delete</a>
            </div>
            {% endif %}

            <!-- Quantity and Add to bag section -->
            <form action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <!-- Size Selection -->
                    {% if product.has_sizes %}
                    <div class="col-12">
                        <p><strong>Size:</strong></p>
                        <div class="btn-group" role="group" aria-label="Size options">
                            {% for size in product.sizes %}
                            <input type="radio" class="btn-check" name="product_size" id="size_{{ size }}"
                                value="{{ size }}">
                            <label class="btn btn-outline-dark" for="size_{{ size }}">{{ size }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-12">
                        <p class="mt-1"><strong>Quantity:</strong></p>
                        <div class=" w-50">

                            <div class="input-group input-group-{{ product.id }}">
                                <!-- Decrement Button -->
                                <button class="decrement-qty btn blue-btn rounded-0 decrement-qty_{{ product.id }}"
                                        data-item_id="{{ product.id }}"  aria-label="Decrement Button"
                                        {% if product.has_sizes %}data-size="{{ size }}"{% endif %}>
                                    <i class="fa-solid fa-minus"></i>
                                </button>


                                <!-- Quantity Input -->
                                <input 
                                    class="form-control qty_input" 
                                    id="id_qty_{{ product.id }}" 
                                    type="number"
                                    name="quantity" 
                                    aria-label="quantity"
                                    value="1" min="1" max="99" 
                                    data-item_id="{{ product.id }}"
                                    {% if product.has_sizes %}data-size="{{ size }}"{% endif %}>

                                <!-- Increment Button -->
                                <button class="increment-qty btn blue-btn rounded-0 increment-qty_{{ product.id }}"
                                        data-item_id="{{ product.id }}" aria-label="Increment Button"
                                        {% if product.has_sizes %}data-size="{{ size }}"{% endif %}>
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'collection' %}" class="btn rose-btn mt-4 py-2 px-4">
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn blue-btn mt-4 py-2 px-4 text-uppercase" value="Add to Bag">
                    </div>

                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>    
</div>

<!-- Product Reviews Section -->
<div class="container my-5 border-top pt-4">
    <div class="row mb-3 border-bottom">
        <!-- Title and Description -->
        <div class="col-12 col-md-8 ">
            <h4 >Customer Reviews</h4>
            {% if product.rating %}
                <p class="text-muted small fw-medium">
                    <i class="fa-solid fa-star"></i>
                    {{ average_rating }} /5 ({{ total_reviews }})
                </p>
            {% endif %}
        </div>
    </div>

    <!-- Review List -->
    {% for review in reviews %}
        <div class="row border-bottom pb-3">
            <div class="col-12">
                <div class="review-item ">            
                    <p class="mt-2">{{ review.comment }}</p>
                    <p class="text-muted small fw-medium"></p>
                        <i class="fa-solid fa-star"></i>
                        {{ review.rating }} /5
                    </p>
                    <p class="text-muted"><small>Reviewed on {{ review.created_at|date:"F j, Y" }} by </small> {{ review.user_profile.user.username }}</p>
                </div>
            </div>
            {% if request.user == review.user_profile.user %}
                <div class="col-12">
                    <a href="{% url 'edit_review' product.id review.id %}" class="btn blue-btn">
                        Edit Review
                    </a>
                    <a class="btn rose-btn" href="{% url 'delete_review' review.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <p>No reviews yet. Be the first to write one!</p>
    {% endfor %}

    <!-- Add Review Button -->
    {% if validated_purchase and not already_reviewed %}
        <div class="row mt-1">
            <div class="col text-center">
                <a href="{% url 'add_review' product.id %}" class="btn blue-btn py-2 px-4"
                    aria-label="Add a review"> 
                    Add a review </a>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'collection/includes/quantity_input_script.html' %}
{% endblock %}