{% extends "allauth/account/base_auth.html" %}

{% block auth_content %}
<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-center fw-bold">Confirm Email Address</h2>
    </div>
</div>
<div class="text-center mt-3">
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <p>Please confirm that <strong>{{ confirmation.email_address.email }}</strong> is your email address.</p>
        <button type="submit" class="btn blue-btn py-2 px-4">Confirm Email Address</button>
    </form>
</div>
{% endblock %}
