{% extends "allauth/account/base_auth.html" %}

{% block auth_content %}
<div class="row mb-4">
    <div class="col-12">
        <h2 class="text-center">
            {% if token_fail %}
            Bad Token
            {% else %}
            Set New Password
            {% endif %}
        </h2>
    </div>
</div>
{% if token_fail %}
    <div class="alert alert-danger">
        The password reset link was invalid. Please request a new password reset.
    </div>
    <div class="text-center mt-3">
        <a href="{% url 'account_reset_password' %}" class="btn blue-btn">Request New Reset Link</a>
    </div>
{% else %}
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2 mt-4">
            <button class="btn blue-btn" type="submit">Set New Password</button>
        </div>
    </form>
{% endif %}

{% endblock %}